@import "../../../styles.scss";

.author-page-container {
  margin-top: 1.5rem;
  .author {
    width: min(95%, 1100px);
    margin-inline: auto;
  }
}

.author-top {
  div {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .top-left {
      img {
        object-fit: cover;
        height: 10rem;
        width: 10rem;
      }
    }

    .top-right {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      justify-content: center;

      .author-name {
        font-weight: 700;
        font-size: 1.5rem;
      }

      .author-best-work {
        font-size: 0.9rem;
        font-weight: 300;
        color: $textColorSecondary;
      }
    }
  }

  .top-bottom {
    margin-top: 1.5rem;
    display: block;

    font-size: 0.9rem;
    color: $textColorSecondary;
    font-weight: 300;
    text-align: justify;
    padding: 0 0.5rem;

    line-height: 160%;
  }
}

.author-middle {
  margin-top: 1.5rem;

  span {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: center;
    gap: 2rem;
  }
}

.author-bottom {
  margin-top: 1.5rem;

  span {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .social-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      flex: 1;
      min-width: 200px !important;

      cursor: pointer;

      background-color: darken($color: $backgroundColor, $amount: 5);
      border-radius: 15px;
      border: 1px solid $textColorSecondary;

      transition: 0.2s ease-in-out all;

      &:hover {
        background-color: darken($color: $backgroundColor, $amount: 8);
        border: none;
      }

      img {
        height: 1.5rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 0.9rem;
        font-weight: 300;
        color: $textColorSecondary;
        margin: 0;
      }
    }
  }
}
