@import "../../../styles.scss";

.popular-categories-books {
  margin-top: 2rem;

  .popular-categories-books-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: $textColorSecondary;
      font-size: 0.9rem;
      text-decoration: none;
      transition: 0.2s all ease-in-out;
      cursor: pointer;

      &:hover {
        color: $textColorPrimary;
      }
    }
  }

  span {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
  }

  .popular-categories-book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    gap: 0.5rem;
  }
}
