<div class="footer">
  <div class="footer-top">
    <ul class="footer-links">
      <li>About</li>
      <li>Blog</li>
      <li>Support</li>
      <li>Gift Cards</li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="privacy-cont">
      <span>Terms and privacy</span>
    </div>

    <div class="socials">
      <img src="../../../assets/images/insta-icon.png" alt="" />
      <img src="../../../assets/images/twitter-icon.png" alt="" />
      <img src="../../../assets/images/facebook-icon.png" alt="" />
    </div>

    <div class="sanctum-text">Scribe's Sactum 2024</div>
  </div>
</div>
