<div class="header-container">
  <div class="header">
    <div class="header-left">
      <div class="logo">
        <span>Scribes Sanctum</span>
      </div>

      <div class="header-input-container">
        <img src="../../../assets/images/search-icon.svg" alt="Icon" />
        <input type="text" placeholder="Search" />
        <button>Go</button>
      </div>
    </div>
    <div class="header-right" *ngIf="isLoggedIn">
      <div class="icon-container">
        <div class="header-image-cont">
          <img src="../../../assets/images/notif-icon.svg" alt="notification" />
        </div>
        <div class="header-image-cont">
          <img src="../../../assets/images/bookmark-icon.svg" alt="bookmark" />
        </div>
      </div>

      <div class="header-profile-pic-cont">
        <img
          src="../../../assets/images/profile-image.png"
          alt="Profile Image"
        />
      </div>
    </div>
    <div class="header-right" *ngIf="!isLoggedIn" style="gap: 1rem">
      <button routerLink="/signup">Get started</button>
      <button routerLink="/login">Login</button>
    </div>
  </div>
</div>
